<html>
	<head>
	</head>
	<body>
		<h1> This is the about page</h1>
		<h2>Avkash Sharma</h2>
		<h3>COMPUTER ENGINEER</h3>
		<p class ="bio">
			My name is Avkash Sharma. I am a computer 			Engineering student in Concordia Univerity.
		</p>
</body>

		<%=link_to'Home',root_path%>
</html>