<div class="container">
	<footer class = "footer">
		<small>
			Copyright &copy; <a href= "https://www.alpha-blog.com">created using Ruby on Rails</a>
			by <a href="http://avisharma.com/">Avkash Sharma</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>  